body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Roboto", sans-serif;
}

header{
    position: fixed;
    background: #092432;
    padding: 20px;
    width: 100%;
    height: 30px;
}
/*inicio css redes sociales*/
.right_area .sidebar_fb{
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    margin-top: 3px;
    margin-right: 40px;
    transition: 0.5s;
    float: right;
    transition-property: color;
}

.right_area .sidebar_fb:hover{
    color: #19B3D3;
}
.right_area .sidebar_tw{
    color: #fff;
    margin-top: 3px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
    transition: 0.5s;
    float: right;
    transition-property: color;
}

.right_area .sidebar_tw:hover{
    color: #19B3D3;
}
/*fin css redes sociales*/

.logout_btn{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: #e63c4f;
    text-decoration: none;
    float: right;
    margin-right: 40px;
    margin-top: -3px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.logout_btn:hover{
    background: #e3007d;
}

.sidebar { 
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    background: linear-gradient(#092432,#084866); 
    margin-top: 70px;
    padding-top: 20px;
    transition: 0.5s;
    transition-property: left;
}
.sidebar .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 5px;
}
.sidebar h3{
    padding-top: 200px;
    color: gainsboro;
    margin-bottom:10px; 
    font-size: 10px;
}
div ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*div ul li{
    line-height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}*/
div ul li a{
    color: white;
    text-decoration: none;
    padding-left: 40px;
    display: block;
    width: 100%;
    line-height: 50px;
    border-left: 3px solid transparent;
    position: relative;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

div ul li a:hover{
    background:#084866;
}
div ul ul{
    position: static;
    display: none;
}
div ul .tramites-show.show{
    display: block;
}
div ul .mistramites-show.show1{
  display: block;
}
div ul li.active a{
    color: white;
    background: #092432;
    border-left-color: white;
}
div ul ul li{
    line-height: 42px;
    border-bottom: none;
}
div ul ul li a{
    padding-left: 80px;
}
div ul li i{
    padding-right: 10px;
}
/*boton de menú*/
label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 50px;
    font-size: 22px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #19B3D3;
}
/*Termina boton*/

#check:checked ~ .sidebar{
    left: -190px;
}

#check:checked ~ .sidebar ul ul li a span{
    display: none;
}

#check:checked ~ .sidebar ul ul li a{
    font-size: 20px;
    margin-left: 125px;
    width: 150px;
}

.content{
    margin-left: 250px;
    background: url(../imgVista/ITSOEH-fondo.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

.content #contenido{
    width: 100%;
    height: 100%;
    border: none;
}

#check:checked ~ .content{
    margin-left: 60px;
}

#check{
    display: none;
}
.logo .itsoeh{
    width: 140px;
    height: 95px;
    cursor: pointer;
    margin-top: -33px;
    margin-left: 70px;
    float: left;
/*    margin: -33px 80px;*/
}





